.add-advertising-form-container{
    display: flex;
    justify-content: center;
    background-color: hsl(210, 17%, 98%);
    min-height: 100vh;
    box-shadow: -1px 0px 0px 0px lightgray, 1px 0px 0px 0px lightgray;
}

.add-advertising-form-container h2{
    text-align: center;
}