.main-admin-container {
    /*outline: 2px solid red;*/
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    background-color: hsl(210, 17%, 98%);
    min-height: 100vh;
    box-shadow: -1px 0px 0px 0px lightgray, 1px 0px 0px 0px lightgray;
}

.admin-header-container {
    padding: 2rem 0;
    margin: 0;
}

.main-admin-container h2{
    text-align: center;
}

.users-list-items-wrap {
    padding: 0 2rem;
}

.users-list-items-wrap ul {
    padding: 0;
}

.users-list-items-wrap li:hover {
    outline: 2px solid hsl(210, 17%, 75%);
    border-radius: 10px;
    /* transition: .2s ease-in; */
}

.users-list-items-wrap li {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: hsl(210, 17%, 90%);
    margin: 1rem 0;
    padding: .5rem 2rem;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    /* cursor: pointer; */
}

.buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.label-li:hover {
    outline: 0px solid red !important;
}

.user-info {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 30%;
}