.main-article-container {
    background-color: hsl(210, 17%, 98%);
    padding: 2rem 0;
    width: 100%;
    /* outline: 2px solid blue; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -1px 0px 0px 0px lightgray, 1px 0px 0px 0px lightgray;
}

.main-article-container h2{
    text-align: center;
}

.article-container-header {
    margin-bottom: 3rem;
}

.article-container-content {
    margin: 0 8rem;
    padding: 2rem;
    background-color: hsl(210, 17%, 90%);
    border-radius: 10px;
}